<h1>
  Add a new market price
</h1>


<hr>

<form action="/create_market_price" method="post">

  <div class="form-group">
    <label for="last_update">
      Last update
    </label>

    <input type="text" id="last_update" name="last_update" class="form-control">
  </div>

  <div class="form-group">
    <label for="observation">
      Observation
    </label>

    <input type="text" id="observation" name="observation" class="form-control">
  </div>

  <div class="form-group">
    <label for="age_group">
      Age group
    </label>

    <input type="text" id="age_group" name="age_group" class="form-control">
  </div>

  <div class="form-group">
    <label for="gender">
      Gender
    </label>

    <input type="text" id="gender" name="gender" class="form-control">
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create market price
  </button>
</form>

<hr>

<a href="/market_prices">
  Go back
</a>
