<h1>
  Add a new market price
</h1>


<hr>

<!-- Form market_price start -->
<form action="/create_market_price" method="post">
<!-- Form market_price end -->

  <!-- Label and input for last_update start -->
  <div class="form-group">
    <label for="last_update">
      Last update
    </label>

    <!-- Input for last_update start -->
    <input type="text" id="last_update" name="last_update" class="form-control">
    <!-- Input for last_update end -->
  </div>
  <!-- Label and input for last_update end -->

  <!-- Label and input for observation start -->
  <div class="form-group">
    <label for="observation">
      Observation
    </label>

    <!-- Input for observation start -->
    <input type="text" id="observation" name="observation" class="form-control">
    <!-- Input for observation end -->
  </div>
  <!-- Label and input for observation end -->

  <!-- Label and input for age_group start -->
  <div class="form-group">
    <label for="age_group">
      Age group
    </label>

    <!-- Input for age_group start -->
    <input type="text" id="age_group" name="age_group" class="form-control">
    <!-- Input for age_group end -->
  </div>
  <!-- Label and input for age_group end -->

  <!-- Label and input for gender start -->
  <div class="form-group">
    <label for="gender">
      Gender
    </label>

    <!-- Input for gender start -->
    <input type="text" id="gender" name="gender" class="form-control">
    <!-- Input for gender end -->
  </div>
  <!-- Label and input for gender end -->

  <!-- Label and input for price start -->
  <div class="form-group">
    <label for="price">
      Price
    </label>

    <!-- Input for price start -->
    <input type="text" id="price" name="price" class="form-control">
    <!-- Input for price end -->
  </div>
  <!-- Label and input for price end -->

  <button class="btn btn-block btn-outline-secondary">
    Create market price
  </button>
</form>

<hr>

<a href="/market_prices">
  Go back
</a>
