<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      FinalProjectFinal
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/market_prices" class="dropdown-item">
              Market Prices
            </a>
            <a href="/activity_logs" class="dropdown-item">
              Activity Logs
            </a>
            <a href="/cattle_sales" class="dropdown-item">
              Cattle Sales
            </a>
            <a href="/deaths" class="dropdown-item">
              Deaths
            </a>
            <a href="/vaccinations" class="dropdown-item">
              Vaccinations
            </a>
            <a href="/weightings" class="dropdown-item">
              Weightings
            </a>
            <a href="/pregnancies" class="dropdown-item">
              Pregnancies
            </a>
            <a href="/cattles" class="dropdown-item">
              Cattles
            </a>
          </div>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
