<% if @death.present? %>
  <% if @death.errors.any? %>
    <% @death.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new death
</h1>


<hr>

<form action="/create_death" method="post">

  <div class="form-group">
    <label for="date">
      Data
    </label>

    <input type="text" id="title" name="date" class="form-control" value= <%= Time.now.strftime('%d/%m/%Y') %>>
  </div>

  <div class="form-group">
    <label for="brinco">
      Brinco
    </label>

    <input type="text" id="brinco" name="brinco" class="form-control" value="<%= @death.brinco %>">
  </div>

  <div class="form-group">
    <label for="causa">
      Causa
    </label>

    <input type="text" id="causa" name="causa" class="form-control" value="<%= @death.causa %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create death
  </button>
</form>

<hr>

<a href="/deaths">
  Go back
</a>
