<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Weightings

    <a data-toggle="collapse" href="#cattle_weightings_new_form">
      Add weighting
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @cattle.weightings.each do |weighting| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/weightings/<%= weighting.id %>">
          <%= weighting.cattle_id %>
        </a>

        <a href="/delete_weighting_from_cattle/<%= weighting.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="cattle_weightings_new_form">
        <%= render partial: "cattle_templates/cattle_weightings_new_form" %>
      </div>
    </div>

  </ul>
</div>
