<form action="/create_pregnancy_from_cattle" method="post">

  <input type="hidden" name="cattle_id" value="<%= @cattle.id %>">

  <div class="form-group">
    <label for="brinco">
      Brinco
    </label>

    <input type="text" id="brinco" name="brinco" class="form-control" value="<%= @pregnancy.brinco %>">
  </div>

  <div class="form-group">
    <label for="touro">
      Touro
    </label>

    <input type="text" id="touro" name="touro" class="form-control" value="<%= @pregnancy.touro %>">
  </div>

  <div class="form-group">
    <label for="prenha">
      Prenha
    </label>

    <input type="text" id="prenha" name="prenha" class="form-control" value="<%= @pregnancy.prenha %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create pregnancy
  </button>
</form>
