<form action="/create_vaccination_from_cattle" method="post">

  <input type="hidden" name="cattle_id" value="<%= @cattle.id %>">

  <div class="form-group">
    <label for="brinco">
      Brinco
    </label>

    <input type="text" id="brinco" name="brinco" class="form-control" value="<%= @vaccination.brinco %>">
  </div>

  <div class="form-group">
    <label for="tipo_vacina">
      Tipo vacina
    </label>

    <input type="text" id="tipo_vacina" name="tipo_vacina" class="form-control" value="<%= @vaccination.tipo_vacina %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create vaccination
  </button>
</form>
