<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Vaccinations

    <a data-toggle="collapse" href="#cattle_vaccinations_new_form">
      Add vaccination
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @cattle.vaccinations.each do |vaccination| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/vaccinations/<%= vaccination.id %>">
          <%= vaccination.cattle_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_vaccination_from_cattle/<%= vaccination.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="cattle_vaccinations_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "cattle_templates/cattle_vaccinations_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
